
html{
background: url("eight%20pic.jpg") no-repeat center center fixed;
   -webkit-background-size:cover;
    -mozilla-background-size:cover;
    -o-background-size:cover;
   background-size:cover; /*always remember for adding any background image of your choice*/
    
}

@media only screen and (max-width: 600px) 

{ 
max-width:100%;
   height:auto;
   overflow:hidden;
}


h1{
    margin-top: 320px;
    margin-left:470px;
    margin-right: 420px;
    color:white;
    font-size: 78px;
    font-family: Freestyle Script;
    text-shadow: 2px 2px 2px #000000;
    animation: typing-text 5s ;
    overflow: hidden;
    white-space: nowrap;
    
}


@keyframes typing-text{
    from{
        width: 0;
    }
    to{
        width: 443px;
    }
    
}












button {
    border: none;
    outline: 0;
    display: inline-block;
    padding:8px;
    color: white;
    background-color: #111;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}



button:hover {
    opacity: 0.7;
}





 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 84%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

img{
    padding-right:10px;
    
}

p3{
    margin-left: 100px;
}


p2{
    font-size:30px;
    margin-left: 65px;
}


p4{
    color:grey;
    margin-left: 95px;
    font-size:30px;
}





